body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

article {
  width: 75%;
  margin: 0 auto;
}
article header h1 {
  text-decoration: underline;
}
article blockquote {
  border-left: 2px solid crimson;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}